<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>Hôm nay xem gì</title>
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <meta name="viewport" content="width=device-width" />
    @Styles.Render("~/Content/Clinco/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jquery-other")
    @Scripts.Render("~/bundles/clinico")
    @RenderSection("scripts", required: false)
</head>
<body>
    <div class="page">
        <header class="page-header main-page">
				<!-- logo -->
				<section id="logo" class="logo">
					<div>
						<a href="index-2.html"><img src="@Url.Content("~/Content/Clinico/img/green/logo.png")" width="190" height="50" alt="Clinico"></a>
					</div>
				</section>
				<!--/ logo -->
                <!-- main nav -->
				<nav class="main-nav">
						<li>
							<a href="services.html"><i class="fa fa-plus"></i>Trang chủ</a>
						</li>
						<li>
							<a href="contacts.html"><i class="fa fa-plus"></i>Danh sách phim</a>
						</li>
                        						<li>
							<a href="contacts.html"><i class="fa fa-plus"></i>Liên hệ</a>
						</li>
					</ul>
				</nav>
				<!--/ main nav -->
                </header>
        <!-- quick search -->
        <form id="quick-search" class="quick-search">
        <fieldset>
            <legend>Tìm kiếm:</legend>
            <input type="text" placeholder="Tên rạp/phim:">
            <button type="submit">
                Search</button>
            <div class="switcher">
                <button id="quick-search-switcher" type="button">
                    Tìm phim/rạp</button>
            </div>
        </fieldset>
        </form>
        <!--/ quick search -->
        <!-- page title -->
        <section class="page-title">
				<div class="grid-row clearfix">
					<h1>Danh sách phim</h1>
					
					<nav class="bread-crumbs">
							@Html.ActionLink("Danh sách phim","Index","Home")
                        @RenderSection("MoreInfo", false)
					</nav>
				</div>
			</section>
        <!--/ page title -->
        <main class="page-content">
             @RenderBody()
            </main>
        <!-- page footer -->
        <footer class="page-footer" style="padding: 30px 0 10px">
				<a href="#" id="top-link" class="top-link"><i class="fa fa-angle-double-up"></i></a>

                <div class="grid-row" style="margin: 0 auto 20px">
                    <div class="grid-col grid-col-6">
						<!-- last news -->
						<section class="widget-alt last-news">
							<div class="widget-icon"></div>
							<div class="widget-title">Clinico</div>
							<ul>
								<li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi sollicitudin justo non odio molestie, sed venenatis elit, consectetur adipiscing.</li>
								<li>Donec quis condimentum leo, et congue dolor. Integer auctor facilisis odio. Duis vitae nibh tristique, consectetur lacus a, facilisis rutrum enim.</li>
								<li>Cras fermentum interdum dapibus. Maecenas imperdiet, consectetur adipiscing magna nec odio cursus, vitae consequat ante.</li>
							</ul>
						</section>
						<!--/ last news -->
					</div>		
					<div class="grid-col grid-col-6">
						<!-- location -->
						<section class="widget-alt location">
							<div class="widget-icon"></div>
							<div class="widget-title">Thông tin liên hệ</div>
							<address>HNXG là 1 ứng dụng miễn phí của Happy Code.<br />
                             Mọi góp ý liên hệ vui lòng gửi theo địa chỉ dưới.</address>
							<ul>
								<li><i class="fa fa-phone"></i>0932.575868</li>
								<li><i class="fa fa fa-envelope"></i>huyhoang8a5@gmail.com</li>
								<li><i class="fa fa-skype"></i>Phạm Huy Hoàng</li>
							</ul>
						</section>
						<!--/ location -->	
				    </div>
                </div>
			</footer>
        <!--/ page footer -->
        <!-- copyrights -->
        <div class="copyrights">
            Copyrights ©2014: Hôm nay xem gì - Happy Code
            <br />
            @Html.Partial("_ViewSwitcher")
        </div>
        <!--/ copyrights -->
    </div>

    @*<header>
            <div class="content-wrapper">
                <div class="float-left">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>
                <div class="float-right">
                    <nav>
                        <ul id="menu">
                            <li>@Html.ActionLink("Home", "Index", "Home")</li>
                            <li>@Html.ActionLink("About", "About", "Home")</li>
                            <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
    <div id="body">
        @RenderSection("featured", required: false)
        <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
    </div>
    <footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
            </div>
        </footer>*@
</body>
</html>
