@{
    ViewBag.Title = "Detail";
}
@using HomNayXemGi.Models;
@model Movie
@section MoreInfo
{
    &nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp; <a href="#">@Model.Name</a>
}
<div class="grid-row">
    <div class="grid-col grid-col-9" style="margin-bottom:20px">
        <article class="widget blog-post">	
							<div class="widget-title">@Model.Name</div>
							
							<div class="date">
								<div class="share">
								</div>
								Thời lượng: @Model.Length
							</div>
								<img width="100%" src="@Model.Image" alt="@Model.Name">

                            <div class="typography">
                                <div>@Html.Raw(Model.Info)</div>
							</div>
							
							<div class="cats">Thể loại: @Model.Type</div>
        </article>
    </div>

<section class="widget comments">	
							<div class="widget-title">Lịch chiếu</div>
    <ul>


        @foreach (var i in Model.Schedulers.Select(sche=>sche.RapChieu).Distinct())
        {
            <li>
                <div class="avatar"><i class="fa fa-calendar"></i></div>
                <div class="text">
                    <div class="author"><h2>@i.CumRap - @i.TenRap</h2></div>
                    @foreach (var j in Model.Schedulers.Where(d => d.RapChieu == i))
                    {
                        <div>
                            <p class="date">@j.NgayChieu</p> @j.SuatChieu
                        </div>
                    }
                </div>
            </li>
							
        }
    </ul>
 
 </section>
</div>


