@{
    ViewBag.Title = "Detail";
}
@using HomNayXemGi.Models;
@model Movie

<h2>Detail</h2>

@Model.Name;


@foreach (var i in Model.Schedulers.Select(tic => new { cumrap = tic.CumRap, tenrap = tic.TenRap }).Distinct())
{
    <div>
    <p> @i.cumrap - @i.tenrap </p>
  
    @foreach (var j in Model.Schedulers.Where(d=>d.CumRap.Equals(i.cumrap) && d.TenRap.Equals(i.tenrap)))
    {
        <p> @j.NgayChieu  @j.SuatChieu </p>
    }
    </div>
}
