@{
    ViewBag.Title = "Detail";
}
@using HomNayXemGi.Models;
@model Movie
@section MoreInfo
{
    &nbsp;&nbsp;<i class="fa fa-angle-right"></i>&nbsp; <a href="#">@Model.Name</a>
}
<div class="grid-row">
    <section id="photo-tour" class="widget photo-tour photo-tour-2">	
    <div class="grid">
    <div class="item item2">
								<div class="testimonial">
								<div class="clearfix">
									<p>@Html.Raw(Model.Info)</p>								
								</div>
								<div class="author">@Model.Name</div>
							</div>
							</div>
							
							<div class="item item1">
								<div class="testimonial">
								<div class="clearfix">
									<p>@Html.Raw(Model.Info)</p>								
								</div>
								<div class="author">@Model.Name</div>
							</div>
							</div>
    </div>
</section>
</div>
<div class="grid-row">
    <div class="grid-col grid-col-4 comments bordered-div ">
        <div class="widget-title">
            Galaxy
        </div>
        <ul style="text-align:center">
            @foreach (var i in Model.Schedulers
                    .Where(sche => sche.RapChieu.CumRap.Equals("Galaxy"))
                    .Select(sche => sche.RapChieu).Distinct())
            {
                <li>
                    <div class="text">
                        <div class="author">
                            <h2>@i.CumRap - @i.TenRap</h2>
                        </div>
                        @foreach (var j in Model.Schedulers.Where(d => d.RapChieu == i))
                        {
                            <div>
                                <p class="date">@j.NgayChieu</p>
                                <p>@j.SuatChieu</p>
                            </div>
                        }
                    </div>
                </li>
							
            }
        </ul>
    </div>
    <div class="grid-col grid-col-4 comments bordered-div ">
        <div class="widget-title">
            Lotte
        </div>
        <ul style="text-align:center">
            @foreach (var i in Model.Schedulers
                    .Where(sche => sche.RapChieu.CumRap.Equals("Lotte"))
                    .Select(sche => sche.RapChieu).Distinct())
            {
                <li>
                    <div class="text">
                        <div class="author">
                            <h2>@i.CumRap - @i.TenRap</h2>
                        </div>
                        @foreach (var j in Model.Schedulers.Where(d => d.RapChieu == i))
                        {
                            <div>
                                <p class="date">@j.NgayChieu</p>
                                <p>@j.SuatChieu</p>
                            </div>
                        }
                    </div>
                </li>
							
            }
        </ul>
    </div>
    <div class="grid-col grid-col-4 comments bordered-div ">
        <div class="widget-title">
            Cgv
        </div>
        <ul style="text-align:center">
            @foreach (var i in Model.Schedulers
                    .Where(sche => sche.RapChieu.CumRap.Equals("Cgv"))
                    .Select(sche => sche.RapChieu).Distinct())
            {
                <li>
                    <div class="text">
                        <div class="author">
                            <h2>@i.CumRap - @i.TenRap</h2>
                        </div>
                        @foreach (var j in Model.Schedulers.Where(d => d.RapChieu == i))
                        {
                            <div>
                                <p class="date">@j.NgayChieu</p>
                                <p>@j.SuatChieu</p>
                            </div>
                        }
                    </div>
                </li>
							
            }
        </ul>
    </div>
</div>
