@{
    ViewBag.Title = "Index";
}
@model IList<HomNayXemGi.Models.Movie>
<div class="grid-row">
    <div class="grid-col grid-col-4">
        Column 1</div>
    <div class="grid-col grid-col-4">
        Column 2</div>
    <div class="grid-col grid-col-4">
        Column 3</div>
</div>
@*@foreach (var item in Model)
{
    <p>
    @item.Name + @item.Id + @item.Image + @Html.Raw(item.Info) <br />
    @Html.ActionLink("Detail","Detail", new { id = @item.Id})    
    </p>
}*@