@{
    ViewBag.Title = "Index";
}
@model IList<HomNayXemGi.Models.Movie>
<div class="grid-row">
    <!-- news -->
    <section id="news" class="widget news news-1">	
    @foreach (var movie in Model)
    {
        
        <div class="item">
				<h3 class="widget-title">
                 @Html.ActionLink(movie.Name, "Detail", new { id = movie.Id })    
                </h3>
								<div class="date">@(movie.Schedulers.FirstOrDefault() == null ? "Sắp chiếu" : movie.Schedulers.FirstOrDefault().NgayChieu)<i class="fa fa-comment"></i></div>
										<a style="width=100%" href="@Url.Action("Detail", new {id = movie.Id})">
                                        <img src="@movie.Image" alt="@movie.Name"></a>				
								<div style="margin: 10px">
                                @{
        var Info = movie.Info.ToString();
        if (Info.Length > 400)
        {
            Info = Info.Substring(0, 400);
        }
        Info = Info + "...";
                                }
                                @Html.Raw(Info)
                                </div>
								<div class="cats">Thể loại: @movie.Type</div>
							</div>
    }
                    </section>
</div>
