@{
    Layout = null;
}

@model System.Collections.Generic.List<HomNayXemGi.Models.Movie>

<p>@ViewBag.Message</p>

@using (Html.BeginForm("Merge", "Admin"))
{
    <p>Total @Model.Count movies</p>

    <button class="wpb_button wpb_btn-alt wpb_regularsize">Merge Data</button>
    <table>
        <thead>
            <tr>
                <th width="10%">Merge to this</th>
                <th width="10%">Select</th>
                <th>Image</th>
                <th>Name</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td> <input type="checkbox" name="mergeMovieID" value="@movie.Id" /> </td>
                    <td> <input type="checkbox" name="selectedMovieID" value="@movie.Id" /> </td>
                    <td> <img height="100px" src="@movie.Image" /></td>
                    <td> @movie.Name </td>

                </tr>
            }
        </tbody>
    </table>

    <button class="wpb_button wpb_btn-alt wpb_regularsize">Merge Data</button>
}